<%= label_tag :title %>
<%= text_field_tag :title, nil, id: "idea-title" %>
<%= label_tag :body %>
<%= text_field_tag :body, nil, id: "idea-body" %>
<%= button_tag "Save", id: "idea-save" %>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Quality</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody id="ideas-all">
  <% @ideas.each do |idea| %>
    <tr class="idea" data-id="<%= idea.id %>">
      <td><%= idea.title %></td>
      <td><%= truncate(idea.body, length: 100, separator: " ") %></td>
      <td class="idea-quality"><%= idea.quality %></td>
      <td><%= link_to "Like", "#", class: "idea-like" %></td>
      <td><%= link_to "Dislike", "#", class: "idea-dislike" %></td>
      <td><%= link_to "Edit", "#" %></td>
      <td><%= link_to "Delete", "#", class: "idea-delete" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
