<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
  <label class="mdl-button mdl-js-button mdl-button--icon" for="idea-search">
    <i class="material-icons">search</i>
  </label>
  <div class="mdl-textfield__expandable-holder">
    <%= label_tag :search, nil, class: "mdl-textfield__label" %>
    <%= text_field_tag :search,
      nil, id: "idea-search", class: "mdl-textfield__input" %>
  </div>
</div>
<br>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= label_tag :title, nil, class: "mdl-textfield__label" %>
  <%= text_field_tag :title,
    nil, id: "idea-title", class: "mdl-textfield__input" %>
</div>
<br>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= label_tag :body, nil, class: "mdl-textfield__label" %>
  <%= text_area_tag :body, nil, id: "idea-body", class: "mdl-textfield__input" %>
</div>
<br>
<%= button_tag "Save",
  id: "idea-save", class: "mdl-button mdl-js-button mdl-button--primary" %>
<br><br>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Quality</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody id="ideas-all">
  <% @ideas.each do |idea| %>
    <tr class="idea" data-id="<%= idea.id %>">
      <td class="searchable"><%= idea.title %></td>
      <td class="searchable">
        <%= truncate(idea.body, length: 100, separator: " ") %>
      </td>
      <td class="idea-quality"><%= idea.quality %></td>
      <td><%= link_to "Like", "#", class: "idea-like" %></td>
      <td><%= link_to "Dislike", "#", class: "idea-dislike" %></td>
      <td><%= link_to "Edit", edit_idea_path(idea.id) %>
      <td><%= link_to "Delete", "#", class: "idea-delete" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
